@import url('https://fonts.googleapis.com/css?family=Marck+Script');
@import url('https://fonts.googleapis.com/css?family=Jura|Marck+Script');


.da h1 {
    color: #fff;
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 5em;
}

.da .description {
    color: #fff;
    text-align: center;
    font-size: 3em;
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-family: 'Marck Script', cursive;
    font-family: 'Jura', sans-serif;
    box-shadow: 1px 1px 5px #fff;
    border-radius: 5px;
}
.da .toReg {
    text-align: center;
}

.da .toReg a {
    margin-top: 5rem;
    margin-bottom: 10rem;
    color: #fff;
}

.da .toReg p {
    color: #fff;
    font-family: 'Marck Script', cursive;
    font-size: 3rem;
    border-bottom: 1px solid #eee;
    box-shadow: 0px 1px 3px #eee;
}

.da .articles {
    background: #eee;
    border: 1px solid #888;
    text-align: center;
    padding-bottom: 5rem;
    margin-bottom: 10rem;
    margin-top: 5rem;
    box-shadow: 1px 1px #fff;
    border-radius: 5px;
    h3 {
        color: #000;
        text-align: center;
        font-family: 'Marck Script', cursive;
        font-size: 5rem;
    }

    a {
        color: #666;
        display: block;
        cursor: pointer;
        text-transform: uppercase;
        font-family: 'Marck Script', cursive;
        font-family: 'Jura', sans-serif;
        font-size: 3rem;
        margin: 1rem auto;
    }

}

